* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-title-font: "Lobster", sans-serif;
    --main-text-font: "Quicksand", sans-serif;
    --main-deep-blue: #046eb0;
    --main-light-blue: #3de6f5;
    --main-green: #50ad2b;
    --main-yellow: #ffcc33;
    --main-orange: #ff9020;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 800px;
}


/* Header */

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px dashed green;
}

#logo {
    display: block;
}

/* icon rule from google */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#hamBtn {
    align-self:flex-end;
    border: none;
    background: none;
    background-color: #3de6f5;
}

#hamBtn::before {
    content: "\e5d2";
    font-size: 2.5rem;
}

#hamBtn.show::before {
    content: "\e5cd";
    font-size: 2.5rem;
}

nav {
    background-color: pink;
}

#navBar {
    display: none;
}

#navBar.show {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}

#navBar a {
    display: flex;
    justify-content: center;
    color: black;
    font-weight:bold;
    text-decoration-color: white;    
}

#navBar .active {
    text-decoration-color: var(--main-light-blue);
}


/* Base styles */
a {
    font-family: var(--main-text-font);
    text-decoration: underline;
    text-underline-offset: 6px; 
    text-decoration-thickness: 3px; 
}

li {
    list-style: none;
}


/* Home styles */
/* Rentals styles */
/* Reservations styles */
/* Contact styles */
/* Form Thanks styles */
/* Attribution styles */