* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-text-font);
}

:root {
    --main-title-font: "Lobster", sans-serif;
    --main-text-font: "Quicksand", sans-serif;
    --main-deep-blue: #046eb0;
    --main-light-blue: #3de6f5;
    --main-green: #50ad2b;
    --main-yellow: #ffcc33;
    --main-orange: #ff9020;
    --main-grey: rgb(205, 205, 205);
}

#tempBan,
header,
main,
footer {
    margin: 0 auto;
    max-width: 800px;
}

/* icon rule from google */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* Temp Banner */
#tempBtn:hover {
    font-weight: bold;
}

#tempBan {
    display: none;
}

#tempBan.open {
    display: flex;
    background-color: var(--main-grey);
    padding: .25rem;
    text-align: end;
}

#tempBan p {
    margin: 0 auto;
    padding: .75rem;
    align-self:baseline;
    font-style: italic;
}

#tempBtn {
    margin-bottom: auto;
}

#tempBtn::before {
    content: "\e5cd";
    font-size: 1.5rem;
}


/* Header */
header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    z-index: 1;
    margin-bottom: 2rem;
}

#logo {
    display: block;
    grid-column: 1/2;
}

#hamBtn {
    grid-column: 2/3;
    margin-left: auto;
    margin-top: auto;
}

#hamBtn::before {
    content: "\e5d2";
    font-size: 2.5rem;
}

#hamBtn.show::before {
    content: "\e5cd";
    font-size: 2.5rem;
}

nav {
    grid-column: 1/3;
}

#navBar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
}

#navBar.show {
    display: block;
    text-align: center;
}

#navBar a {
    display: block;
    padding: 1rem .5rem;
    color: black;
    background-color: rgb(205, 205, 205);
    font-size: large;
    font-weight: bold;
    text-decoration-color: rgb(205, 205, 205);
    text-decoration-thickness: 3px;
}

#navBar .active {
    text-decoration-color: var(--main-light-blue);
}

#navBar :is(:hover, :active) {
    background-color: rgb(228, 227, 227);
    text-decoration-color: black;
}


/* Base styles */
button {
    border: none;
    background: none;
}

a {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 1px;
}

li {
    list-style: none;
}

h1 {
    text-align: center;
}

/* for gallery */
/* img {
    width: 100%;
    height: auto;
    max-width: fit-content;
} */

.card {
    margin: 1rem 3rem;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #f1f1f1;
    /* opacity: .9;  */
}


/* Home styles */
main {
    display: grid;
    background-image: url("https://smilingjenny.github.io/wdd230/scoots/images/palm-trees-viola-pixabay-853-1280.webp");
    background-size: cover;
}

.home h1 {
    margin: 3rem 10rem;
    color: white;
    font-size: xx-larger;
    font-weight: bolder;
    text-shadow: -2px 2px 1px #b8b8b8;
    text-decoration: underline;
}

#reserveBtn {
    display: block;
    margin: 0 auto 2rem auto;
    width: 30ch;
    padding: .75rem;
    height: 3rem;
    font-size: larger;
    font-family: var(--main-title-font);
    background: linear-gradient(to left, var(--main-yellow), var(--main-orange));
    border-radius: 10px;
    justify-content: center;
}

.home h2 {
    margin-top: 2rem;
    margin-left: 2rem;
}

.rentalInfo .card {
    background-color: var(--main-light-blue);
    opacity: 1;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.gallery :is(h2, p) {
    grid-column: 1/3;
}

.gallery img {
    margin: 2rem;
}

.gallery div {
    text-align: center;
    grid-column: 1/3;
}

.gallery h2, .weather h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.gallery, .weather {
    padding: 0 2rem;
}

:is(.gallery p, .weather p) {
    margin: 1rem 2rem;
}

#forecastTomorrow {
    margin: 0 0 2rem 2rem;
}

.home .card:last-of-type {
    margin-bottom: 2rem;
}






/* Rentals styles */
/* Reservations styles */
/* Contact styles */
/* Form Thanks styles */
/* Attribution styles */

/* Footer styles */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* position: fixed;
    left: 0;
    right: 0;
    bottom: 0; */
    padding: .5rem;
    text-align: center;
    font-size: large;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    background-color: var(--main-deep-blue);
}

#contact {
    display: flex;
    flex: 1 1 100%;
    gap: 3rem;
    margin-bottom: .5rem;
    grid-column: 1/2;
    border-right: 1px solid white;
}

#contact p {
    margin-left: auto;
}

#contact > div {
    margin-right: auto;
    align-self: center;
    
}

#attrPage {
    display: block;
    margin-bottom: .5rem;
    color: white;
}