@media screen and (min-width: 1200px) {

    header,
    main,
    footer {
        max-width: 1200px;
    }

    header {
        display: flex;
    }

    nav {
        flex-grow: 1;
        align-self: flex-end;
    }

    #navBar {
        display: flex;
        justify-content: space-around;
    }

    #navBar a {
        padding: 0;
        background-color: white;
        text-decoration-color: white;
    }

    #hamBtn {
        display: none;
    }
}