@media screen and (min-width: 1200px) {

    #tempBan,
    header,
    main,
    footer {
        max-width: 1200px;
    }

    
    /* Header */
    header {
        display: flex;
        position: static;
        z-index: initial;
    }

    nav {
        flex-grow: 1;
        align-self: center;
    }

    #navBar {
        display: flex;
        justify-content: space-around;
        position: static;
        z-index: initial;
    }

    #navBar :is(:hover, :active) {
        background-color: white;
        text-decoration-color: black;

    }

    #navBar a {
        padding: 0;
        background-color: white;
        text-decoration-color: white;
    }

    #hamBtn {
        display: none;
    }


    /* Base styles */
    .outerCard {
        margin: 1rem 4rem;
        padding: 1rem;
        border: 1px solid lightgray;
        border-radius: 15px;
        background-color: var(--main-light-grey);
    }

    .outerCard :is(p, ul) {
        margin: 1rem 5rem;
    }

    .innerCard {
        margin: 1rem 5rem;
        padding: 1rem;
        border: 1px solid lightgray;
        border-radius: 20px;
        background-color: white;
    }


    /* Home Styles */
    .rentalInfo {
        padding-bottom: 2rem;
    }

    .gallery img {
        margin: 2rem;
    }

    #weatherDisplay {
        grid-template-columns: 1fr 1fr;
        padding: 0 3.5rem;
    }

    #weatherDisplay .innerCard {
        margin: 2rem;
    }


    /* Reservations styles */
    .servAgree p {
        margin: 0 5rem;
    }

    .servAgree h4 {
        margin-top: 2rem;
        margin-left: 5.5rem;
    }

    .servAgree ul {
        margin-top: 0;
    }

    .reserve form {
        margin: 1rem 5rem;
    }


    /* Contact styles */
    .locations li {
        margin-left: 6rem;
    }

    .locations iframe {
        width: 638px;
        height: 478px;
    }

    .contactForm form {
        margin: 1rem 5rem;
    }


    /* Footer styles */
    footer {
        grid-template-columns: 1fr 1fr;
    }

    .contact {
        padding: 0;
        border-right: 1px solid white;
        border-bottom: none;
    }

    .author {
        padding: 0;
    }   
}