@media screen and (min-width: 1200px) {

    #tempBan,
    header,
    main,
    footer {
        max-width: 1200px;
    }

    header {
        display: flex;
        position: static;
        z-index: initial;
    }

    nav {
        flex-grow: 1;
        align-self: center;
    }

    #navBar {
        display: flex;
        justify-content: space-around;
        position: static;
        z-index: initial;
    }

    #navBar :is(:hover, :active) {
        background-color: white;
        text-decoration-color: black;

    }

    #navBar a {
        /* margin-bottom: 1rem; */
        padding: 0;
        background-color: white;
        text-decoration-color: white;
    }

    #hamBtn {
        display: none;
    }
}