* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-blue: #205893;
    --main-orange: #D2691E;
    --main-charcoal-black: #242325;
    --main-black: black;
    --main-white: white;
    --main-title-font: "font-family: 'EB Garamond', serif;";
    --main-text-font: 'Montserrat', sans-serif;
}

header,
#heroImage,
main,
footer {
    max-width: 600px;
    margin: 0 auto;
}

header {
    position: relative;
}

#logo {
    margin: 1rem;
}

#hamButton {
    display: block;
    border: none;
    background: none;
    position: absolute;
    right: 1rem;
    top: 160px;
}

#hamButton::before {
    content: "≡";
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5rem;
}

#hamButton.show::before {
    content: "✖";
    font-size: 2rem;
    font-weight: unset;
    line-height: 1.5rem;
}

#mainNavBar {
    display: none;
    text-align: center;
}

#mainNavBar a {
    display: block;
    background-color: var(--main-charcoal-black);
    color: white;
    font-family: var(--main-text-font);
    padding: 1rem .5rem;
}

#mainNavBar.show {
    display: block;
}

a:hover,
a:active {
    text-decoration: underline;
}

#joinButton {
    position: absolute;
    top: 4.7rem;
    right: .05rem;
    display: block;
    width: 7rem;
    border: none;
    background: none;
    background-color: var(--main-orange);
    color: var(--main-black);
    font-family: var(--main-text-font);
    font-weight: bold;
    margin: 1rem;
    padding: 1rem .5rem;
}

#modeButton {
    position: absolute;
    top: .1rem;
    right: .03rem;
    display: block;
    width: 7rem;
    margin: 1rem;
    padding: 1rem .5rem;
    border: 1px solid;
    border-color: var(--main-blue);
    background: none;
    color: var(--main-blue);
    font-family: var(--main-text-font);
    font-weight: normal;
}

#modeButton::before {
    content: "Dark Mode";
}

#modeButton.darkMode::before {
    content: "Light Mode";
}

.darkMode {
    background-color: var(--main-black);
    color: var(--main-white);
}

.darkMode #modeButton {
    border-color: var(--main-white);
    /* background-color: var(--main-charcoal-black); */
    color: var(--main-white);
}

.darkMode #joinButton {
    border: 1px solid var(--main-white);
    background-color: var(--main-charcoal-black);
    color: var(--main-white);
}

.darkMode .card {
    box-shadow: none;
}

.darkMode h1 {
    color: var(--main-white);
}

.darkMode h2 {
    color: var(--main-white);
}


#heroImage {
    text-align: center;
}

#heroImage img {
    max-width: 100%;
}

main {
    display: grid;
}

h1 {
    text-align: center;
    font-family: var(--main-title-font);
    color: var(--main-blue);
}

.card {
    margin: 1rem;
    border: 1px solid;
    border-color: lightgray;
    box-shadow: 5px 5px 5px #f1f1f1;
    padding: 1rem;
    font-family: var(--main-text-font);
}

h2 {
    color: var(--main-orange);
    margin-bottom: 1rem;
}

li {
    list-style: none;
    font-family: var(--main-text-font);
}

.card ul li {
    list-style: disc;
    margin: 1rem;
}

a {
    text-decoration: none;
    color: var(--main-blue);
}

footer {
    margin-top: 2rem;
    background-color: var(--main-blue);
    color: var(--main-white);
    font-family: var(--main-title-font);
    text-align: center;
    padding: 1rem;
}