main {
    display: block;
}

form {
    margin: 0 auto;
    max-width: 25rem;
    color: var(--main-background-brown);
}

form label {
    display: block;
    margin: 1.5rem 1rem;
    font-family: var(--main-title-font-slab);
    font-weight: bold;
    font-size: large;
} 

form input {
    display: block;
    width: 100%;
    margin: .25em 0;
    padding: .5em;
    font-family: var(--main-text-font-sans);
    font-size: large;
}

#divMessage {
    display: block;
    margin: 1rem;
    color: red;
    font-family: var(--main-title-font-slab);
    font-weight: bold;
    font-size: large;

}

#ratingLabel {
    margin-bottom: .25em;
}


#ratingDisplay {
    margin: 0 0 0 1rem;
    color: rgb(0, 105, 243);
}

#rating {
    margin: 0 0 0 1rem;
    width: 23rem;
}

#ratingValues {
    display: flex;
    margin: 0 0 0 1.75em;
    width: 24.75em;
}

#ratingValues option {
    flex: 1 1 auto;
}

#submitBtn {
    width: 25rem;
    background-color: var(--main-background-green);
    color: var(--main-white);
    font-size: large;
    border: none;
    
}

.card.record {
    grid-column: 1/3;
    width: 100%;
    max-width: 25rem;
    margin: 10rem auto;
    border: 1px solid;
    border-color: var(--main-border-grey);
    box-shadow: 5px 5px 5px #f1f1f1;
}

.card.record p {
    padding: 1rem;
    font-family: var(--main-text-font-sans);
    font-size:xx-large;
    text-align: center;
    color: var(--main-background-green);
} 

footer {
    background-color: var(--main-background-brown);
    color: var(--main-white);
    font-family: var(--main-title-font-slab);
    text-align: center;
    padding: 1px;
}